<?php

return \PhpCsFixer\Config::create()
    ->setUsingCache(true)
    ->setCacheFile(__DIR__ . '/php_cs.cache')
    ->setFinder(
        \PhpCsFixer\Finder::create()
            ->in(__DIR__ . '/../../src'));

// vim:ft=php
